*{
    margin: 0;
    padding: 0;
}

#myCanvas{
    width: 700px;
    height: 500px;
    border: 1px solid;
}

#menu{
    display: flex;
}

#lineColor{
    border: none;
    width: 30px;
    height: 30px;
}

#lineWidth{
    width: 30px;
}
